#form
{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
}


lable,input,.error
{
    font-size: 1.2em;
    letter-spacing: 2px;
}
.inputgroup
{
    
}