*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container
{
    text-align: center;
    margin: 20vh 0;
}
#box
{
    margin: 10px auto;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 5px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
input
{
    width: 250px;
    height: 40px;
    text-align: end;
    padding: 5px;
    font-size: 1.5em;
}
.row button
{   
    width: 50px;
    height: 50px;
    font-size: 1.5em;
}