*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.carousel-container
{
    margin: 5vh auto;
    width: 50vw;
    height: 50vh ;
}

img
{
    width: 50vw;
    height: 50vh;
}