.form
{
    width: 400px;
    height: auto;
    border: 1px solid blue;
    margin: 20px auto;
    padding: 20px 10px;
}

.formgroup lable, .heading
{
    display: block;
    font-size: larger;
    font-weight: bold;
    font-family: serif;
}

button
{
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 0 150px ;
    border-radius: 20px;
    
}

span
{
    font-size: smaller;
    color: brown;
    display: block;
    height: 20px;

}

.box
{
    width: 380px;
    height: 30px;
}